<div class="page">
  <header>
      <img src = "/images/logo.png" alt = "Logo">
      <a href="/admin/logout">Logout</a>
  </header>
    <nav>
        <ul>
            <li><a href="/">Home</a><li>
            <li><a href="/dashboard/add-appointment">Appointments</a><li>
            <li><a href="/auth/admin">Admin login</a></li>
        </ul>
    </nav>
  <main>
      <h1>Welcome, {{name}}</h1>
      <div class="flex-admin">
        <div>
            <h2>Your role is: {{role}}</h2>
            <p>This is the Administrator dashboard.</p>
            <p><a class="button" href='/admin/manage-appointments'>Manage Appointments</a></p>
        </div>
        <img id="img-admin" src="/images/administrator.jpg" alt="Doctor picture">
      </div>
      
  </main>
  <footer>
      <p>&copy; Medical Appointment Scheduler, All rights reserved.</p>
      <p>
          All images used are believed to be in "Fair Use".
          Please notify the author if any are not and they
          will be removed.
      </p>
      <p>Last Updated: 11 July, 2022</p>
  </footer>
</div>