<div class="page">
  <header>
      <img src = "/images/logo.png" alt = "Logo">
      <a href="/admin/logout">Logout</a>
  </header>
    <nav>
        <ul>
            <li><a href="/">Home</a><li>
            <li><a href="/dashboard/add-appointment">Appointments</a><li>
            <li><a href="/auth/admin">Admin login</a></li>
        </ul>
    </nav>
  <main>
      <h1>Welcome, {{name}}</h1>
      <p>Your role is: {{role}}</p>
      <p>This is your admin dashboard.</p>
      <p>Please, choose an action</p>
      <p><a href='/admin/manage-appointments'>Manage Appointments</a></p>
  </main>
  <footer>
      <p>&copy; Medical Appointment Scheduler, All rights reserved.</p>
      <p>
          All images used are believed to be in "Fair Use".
          Please notify the author if any are not and they
          will be removed.
      </p>
      <p>Last Updated: 11 July, 2022</p>
  </footer>
</div>