<main>
  <h1>Welcome, {{name}}</h1>
  <p>Your role is: {{role}}</p>
  <img src={{image}} alt='Personal photo' />
  <p><a href='/dashboard/manage-appointments'>Manage Appointments</a></p>
  <p><a href='/dashboard/add-appointment'>Add appointment</a></p>
  <p><a href='/dashboard/logout'>Logout</a></p>
</main>