<div class="page">
        <header>
            <img src = "/images/logo.png" alt = "Logo">
            <a href="/auth">Patient Login</a>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a><li>
                <li><a href="/dashboard/add-appointment">Appointments</a><li>
                <li><a href="/auth/admin">Admin login</a></li>
            </ul>
        </nav>
        <main>
            <h1>Welcome to our API</h1>
            <img src="/images/background.jpg">
        </main>
        <footer>
            <p>&copy; Medical Appointment Scheduler, All rights reserved.</p>
            <p>
                Welcome to our API. Use this routes: /user, /invoice, /patient and /appointment. 
                More information in /api-docs.
                All images used are believed to be in "Fair Use".
                Please notify the author if any are not and they
                will be removed.
            </p>
            <p>Last Updated: 11 July, 2022</p>
        </footer>
  </div>

