<section class="login">
  <div class="content-unauthorized">
      <div class="top">
        <img class="img-github" src="/images/logo.png"/>
        <h2>Medical Invoice<br />{{appointmentDate}}</h2>
    </div>
    <div class="content-bottom">
        {{{appointmentInfo}}}
    </div>
</section>