<div class="page">
  <header>
      <img src = "/images/logo.png" alt = "Logo">
      <a href="/dashboard/logout">Logout</a>
  </header>
  <nav>
      <ul>
          <li><a href="/">Home</a><li>
          <li><a href="/dashboard/add-appointment">Appointments</a><li>
      </ul>
  </nav>
<main>
  <h2>Manage your appointments</h2>
  <a href='/dashboard'>Return to Dashboard</a>
  <ul>
    {{{listAppointment}}}
  </ul>
</main>
<footer>
      <p>&copy; Medical Appointment Scheduler, All rights reserved.</p>
      <p>
          All images used are believed to be in "Fair Use".
          Please notify the author if any are not and they
          will be removed.
      </p>
      <p>Last Updated: 11 July, 2022</p>
  </footer>
</div>
<script src='/js/main-functions.js'></script>