<main>
  <a href='/dashboard'>Return to Dashboard</a>
  <a href='/dashboard/manage-appointments'>Return to Management</a>
  <form>
    {{{updateInputs}}}
  </form>
</main>
<script src='/js/main-functions.js'></script>